<div class="container">
    <div class="row">
        <div *ngIf="auth.anonymous" class="buttonsDiv container-fluid">
            <button (click)="router.navigate(['welcome'])" class="btn btn-secondary">Welcome</button>
            <button (click)="router.navigate(['main'])" class="btn btn-secondary">Arena</button>
            <!--<button (click)="router.navigate(['highscores'])" class="btn btn-secondary">High Scores</button>-->
            <button (click)="router.navigate(['about'])" class="btn btn-secondary">About</button>
        </div>
    </div>
</div>
