<div class="container-fluid">


    <div style="height: 100px; background-color: ghostwhite" class="row">

    </div>

    <!--///////////// header //////////////-->
    <div class="row">
        <!--candidates-->
        <div style="background-color: gainsboro" class="col-md-4 contentHeader">
            <button (click)="generateNewJoke()" class="btn btn-secondary">Generate New Joke:</button>
        </div>

        <!--fresh-->
        <div style="background-color: gray" class="col-md-4 contentHeader">

        </div>

        <!--trending-->
        <div style="background-color: beige" class="col-md-4 contentHeader">

        </div>
    </div>

    <!--//////////// joke content ////////////-->
    <div class="row">
        <!--candidates-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <tr *ngFor="let joke of candidateJokes">
                        <div [class.invisible] = "kept.includes(joke.id)">
                            <td><button class="btn btn-secondary" (click)="keep(joke)">Keeper</button></td>
                            <td>{{ joke.text }}</td>
                        </div>
                    </tr>
                </div>
            </div>
        </div>

        <!--fresh-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <tr *ngFor="let joke of freshList">
                        <td>{{ joke.votes }}</td>
                        <td><button class="btn btn-secondary" [disabled]="voter.getVotingRecord(joke.$key) === 1" (click)="voter.handleVote(joke, 1)"><span class="fa fa-thumbs-o-up"></span></button></td>
                        <td><button class="btn btn-secondary" [disabled]="voter.getVotingRecord(joke.$key) === -1" (click)="voter.handleVote(joke, -1)"><span class="fa fa-thumbs-o-down"></span></button></td>
                        <td>{{ joke.actualJoke }}<br>{{ joke.timeAdded * 1000 | amTimeAgo }}</td>
                    </tr>
                </div>
            </div>
        </div>

        <!--trending-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <tr *ngFor="let joke of trendingList">
                        <td>{{ joke.votes }}</td>
                        <td><button class="btn btn-secondary" [disabled]="voter.getVotingRecord(joke.$key) === 1" (click)="voter.handleVote(joke, 1)"><span class="fa fa-thumbs-o-up"></span></button></td>
                        <td><button class="btn btn-secondary" [disabled]="voter.getVotingRecord(joke.$key) === -1" (click)="voter.handleVote(joke, -1)"><span class="fa fa-thumbs-o-down"></span></button></td>
                        <td>{{ joke.actualJoke }}<br>{{ joke.timeAdded * 1000 | amTimeAgo }}</td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
