.contentHeader {
    /*height: 50px;*/
}

.contentHeaderRow {
    margin-bottom: 10px;
}

.invisible {
    opacity: 0;
}

.timeAgo {
    font-style: italic;
    float: right;
    font-size: 11px;
}

.card-block td {
    padding: 4px;
}
